<% provide(:title, 'Użytkownicy') %>
<h1>
  <img src="/assets/img/logo_raw.png" alt="map" />
</h1>
<h1>To my wszyscy!</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 70 %>
      <%= link_to user.name, user %>
      <% if user.locations.any? %>
        <h5>Zgłoszone lokalizacje (<%= user.locations.count %>)</h5>
        <% if user.locations.where(:verified => true).any? %>
          <h6>Zweryfikowane (<%= user.locations.where(:verified => true).count %>)</h6>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
