<% provide(:title, @user.name) %>
<div class="row">
    <h1>
      <img src="/assets/img/map_location.jpg" alt="map" />
    </h1>
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.locations.any? %>
      <h3>Zgłoszone lokalizacje (<%= @user.locations.count %>)</h3>
      <ol class="locations">
        <%= render @locations %>
      </ol>
      <%= will_paginate @locations %>
    <% end %>
  </div>
</div>
